:root {
    --main-bg-color: #313338;
    --font-color-1: #FFF;
    --font-color-2: #F2F3F5;
}

@font-face {
    font-family: "gg-sans";
    src:
            local("./assets/fonts/gg-sans"),
            url("./assets/fonts/gg-sans/gg sans Bold.ttf") format("truetype"),
            url("./assets/fonts/gg-sans/gg sans Medium.ttf") format("truetype"),
            url("./assets/fonts/gg-sans/gg sans Regular.ttf") format("truetype"),
            url("./assets/fonts/gg-sans/gg sans Semibold.ttf") format("truetype");
}

body {
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 150px;
}

h1 {
    font-size: 50px;
    color:var(--font-color-1);
}

p {
    color: var(--font-color-2);
}

body {
    font: 20px gg-sans,sans-serif;

}
