@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/gg-sans-2');
@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');

:root {
    --main-bg-color:#313338;
    --secondary-bg-color: #2B2D31;
    --discord-purple: #5685F2;
    --font-color-1:#FFF;
    --font-color-2:#F2F3F5;
}

body {
    background-color: #313338;
    font-size: 100%;
    background-attachment: fixed;
}

.contents {
    display: flex;
    margin: 100px 30px;
}

.contents > * {
    margin: 70px;
}

.word-content {
    text-align: left;
    padding: 50px;

}

h1 {
    font-family: 'ABC Ginto Nord Unlicensed Trial', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: var(--discord-purple);
}

h2.content {
    font-family: 'gg sans Normal', sans-serif;
    font-weight: 40;
    font-size: 1.5em;
    color: var(--font-color-2);
}

.button-set {
    display: flex;

}

a.btn {
    font-family: 'gg-sans Semibold', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    color: var(--font-color-1);
    background-color: var(--discord-purple);
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 30px;
}

img.Nelly-noodles {
    height: 300px;
}

img.logo {
    height: 95px;
    position: absolute;
    top: 0;
    left: 25px;
}

.footer {
    margin: 30px 0 0;
    background-color: var(--secondary-bg-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    display: flex;
}

.footer > a {
    height: 25px;
    width: 25px;
    margin: 30px 15px;
}

a > img {

    height: 25px;
}